.form {
    padding: 140px 0 122px 0;
}

.form .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.form-content {
    max-width: 504px;
}

.form-details {
    max-width: 485px;
    margin-top: 60px;
}

.form-group {
    box-sizing: border-box;
    border: 1px solid rgb(193, 187, 187);
    background: rgb(255, 255, 255);
    padding: 12px 23px 13px 23px;
    width: 485px;
    height: 74px;
    position: relative;
    transition: all .2s;
}

.form-input {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: rgb(105, 51, 220);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.form-label {
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    left: 23px;
    top: 26px;
    transition: all .2s ease;
}

.form-input:focus ~ .form-label,
.form-input:not(:focus):valid ~ .form-label {
    top: 12px;
}

.form-input:valid,
.form-input:focus {
    margin-top: 27px;
    height: auto;
}

.form-group:focus-within {
    border-left: 5px solid rgb(105, 51, 220);
}

.form-agree {
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
}

.form-agree input {
    position: relative;
    top: 2px;
}

.form-agree input,
.form-agree label {
    cursor: pointer;
}

.form-action {
    margin-top: 30px;
}

.form-link {
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
}