.main {
    padding: 190px 0 232px;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content {
    max-width: 588px;
}

.main-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 60px;
    max-width: 486px;
    margin-top: 40px;
}