.result {
    padding: 100px 0 31px 0;
    text-align: center;
}

.result .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.result-image {
    position: absolute;
    top: 85px;
    z-index: -1;
}

.result-title {
    max-width: 588px;
    margin-bottom: 60px;
}

.result-score {
    background-image: url("../img/result-image.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 158px;
    font-weight: 700;
    line-height: 190px;
}

.open-answers {
    margin-top: 80px;
}