<main class="test">
    <div class="container">
        <p class="pre-title" id="preTitle"></p>
        <div class="test-progress-bar" id="progressBar"></div>
        <div class="test-question">
            <p class="test-question-title" id="title">
            </p>
            <div class="test-question-options" id="options">
            </div>
        </div>
        <div class="test-actions">
            <div class="test-previous-action">
                <button class="btn btn-transparent" id="prev" disabled>Назад</button>
            </div>
            <div class="test-time">
                <p class="test-time-text">Осталось времени:</p>
                <div class="test-time-clock" id="timer"></div>
            </div>
            <div class="test-next-action">
                <button class="btn btn-transparent" id="next" disabled>Далее</button>
            </div>
        </div>
        <div class="test-pass-question">
            <button id="pass">Пропустить вопрос
                <img src="img/small-arrow.png" alt="Маленькая стрелка" class="active-arrow">
                <img src="img/small-arrow-light.png" alt="Маленькая стрелка" class="non-active-arrow">
            </button>
        </div>
    </div>
</main>